{% extends 'base.html.twig' %}

{% block title %}Turno index{% endblock %}

{% block body %}
    <h1>Turno index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fecha</th>
                <th>FechaSolicitado</th>
                <th>Paciente</th>
                <th>Medico</th>
                <th>Descripcion</th>
                <th>Severidad</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for turno in turnos %}
            <tr>
                <td>{{ turno.id }}</td>
                <td>{{ turno.fecha ? turno.fecha|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ turno.fechaSolicitado ? turno.fechaSolicitado|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ turno.paciente }}</td>
                <td>{{ turno.medico.nombre }} {{turno.medico.apellido}}</td>
                <td>{{ turno.descripcion }}</td>
                <td>{{ turno.severidad }}</td>
                <td>
                    <a href="{{ path('app_turno_edit', {'id': turno.id}) }}">edit</a>
                    <a>
                        {{ include('turno/_delete_form.html.twig') }}
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_index') }}">Volver</a>
{% endblock %}
