{% extends 'base.html.twig' %}

{% block title %}Mis turnos{% endblock %}

{% block body %}
    <h1>Mis turnos</h1>

    <table class="table">
        <thead>
            <tr>
                {# <th>Id</th> #}
                <th>Fecha de turno</th>
                {# <th>Fecha solicitado</th> #}
                {# <th>Paciente</th> #}
                <th>Medico</th>
                <th>Descripcion</th>
                <th>Estado</th>
                {# <th>Severidad</th> #}
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for turno in turnos %}
            <tr>
                {# <td>{{ turno.id }}</td> #}
                <td><b>{{ turno.fecha ? turno.fecha|date('d/m/y H:i:s') : '' }}</b></td>
                {# <td>{{ turno.fechaSolicitado ? turno.fechaSolicitado|date('Y-m-d H:i:s') : '' }}</td> #}
                {# <td>{{ turno.paciente }}</td> #}
                <td>{{ turno.medico.nombre }} {{turno.medico.apellido}}</td>
                <td>{{ turno.descripcion }}</td>
                <td>{{ turno.estado.descripcion }}</td>
                {# <td>{{ turno.severidad }}</td> #}
                <td>
                    <a href="{{ path('app_turno_show', {'id': turno.id}) }}">&nbsp;
                        <button class="btn btn-success btn-icon pl-2">
                            <i class="icofont icofont-eye-alt"></i>
                        </button>
                    </a>

                    <a href="{{ path('app_turno_edit', {'id': turno.id}) }}">&nbsp;
                        <button class="btn btn-success btn-icon pl-2">
                            <i class="icofont icofont-trash"></i>
                        </button>
                    </a>

                    
                    <a href="{{ path('app_turno_delete', {'id': turno.id}) }}" >
                    <button class="btn btn-danger btn-icon pl-2">
                        <i class="icofont icofont-trash"></i>
                    </button>
                    </a>

                        {# {{ include('turno/_delete_form.html.twig') }} #}
                    

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Todavia no tiene ningun turno</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>

    <a href="{{ path('app_index') }}" class="btn btn-primary">Volver al Inicio</a>
{% endblock %}
