{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h1>Edit User</h1>

    {{ form_start(form) }}
    <table class="table">
        <tbody>   
            <tr>
                <th>Apellido</th>
                <td>{{ form_widget(form.apellido) }}</td>                
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ form_widget(form.nombre) }}</td>                
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ form_widget(form.email) }}</td>              
            </tr>
            <tr>
                <th>Teléfono</th>
                <td>{{ form_widget(form.telefono) }}</td>
            </tr>
            <tr>
                <th>Domicilio</th>
                <td>{{ form_widget(form.domicilio) }}</td>
            </tr>
            <tr>
                <th>Fecha de nacimiento</th>
                <td>{{ form_widget(form.fnac) }}</td>
            </tr>
            <tr>
                <th>Obra Social</th>
                <td>{{ form_widget(form.obrasocial) }}</td>
            </tr>
        </tbody>
    </table>
        <button class="btn">{{ button_label|default('Guardar cambios') }}</button>

    {{ form_end(form) }}  

    

    <a href="{{ path('app_index') }}">Volveer</a>

{% endblock %}
