{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h1>Cambiar contrase単a</h1>

    {{ form_start(form) }}
    <table class="table">
        <tbody>   
            <tr>
                <th>Ingrese contrase単a actual</th>
                <td>{{ form_widget(form.password_old) }}</td>                
            </tr>
            <tr>
                <th>Ingrese nueva contrase単a</th>
                <td>{{ form_widget(form.password) }}</td>                
            </tr>
            <tr>
                <th>Confirme la nueva contrase単a</th>
                <td>{{ form_widget(form.password2) }}</td>              
            </tr>          
            
        </tbody>
    </table>
            {# {{ form_widget(form.submit) }} #}
        <button class="btn">{{ button_label|default('Guardar cambios') }}</button>

    {{ form_end(form) }}  

    

    <a href="{{ path('app_index') }}">Volveer</a>

{% endblock %}
